<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Products - Inventory System</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<!-- Navbar -->
	<div th:replace="~{fragments/navbar :: navbar('products')}"></div>
	
	<!-- Main Container -->
    <div class="main-container">
        
        <!-- Functions Section -->
        <div class="functions-section">
            <h3 class="m-3">Functions</h3>
        </div>
        
        <!-- Filter Section -->
        <div class="filter-section">
            <form method="get" th:action="@{/products/home}">
	            <div class="row align-items-center gx-0">
	                <div class="col-md-3">
	                    <div class="d-flex align-items-center">
	                        <label class="m-3">Filter:</label>
	                        <input type="text" class="form-control" placeholder="Search Product" id="searchInput" name="search" th:value="${param.search}" autocomplete="off">
	                    </div>
	                </div>
	                <div class="col-md-9 ">
	                    <div class="d-flex align-items-center">
	                        <label class="mx-3">Categories:</label>
	                        <div class="d-flex flex-wrap gap-3">
	                        	<div th:each="cat : ${categories}">
	                        		<input class="form-check-input"
	                        			   type="checkbox"
	                        			   th:id="${cat.id}"
	                        			   th:name="categories"
	                        			   th:value="${cat.id}"
	                        			   th:checked="${param.categories != null and #lists.contains(param.categories, cat.id.toString())}"/>
	                        	    <label class="form-check-label ms-1" th:for="${cat.id}" th:text="${cat.name}"></label>
	                        	</div>
	                        </div>
	                    </div>
	                </div>
	                <div class="col-12 mt-2">
	                	<div class="d-flex flex-wrap gap-2 ms-3">
					        <button type="submit" class="btn btn-outline-dark">Apply Filters</button>
					        <a th:href="@{/products/home}" class="btn btn-outline-secondary">Reset</a>
					    </div>
	                </div>
	            </div>
            </form>
        </div>
        
        <!-- Products List -->
        <div class="products-list">
            <div class="d-flex justify-content-left flex-wrap gap-3 m-2">
            	<h5 class="m-2">Lists of Products</h5>
                <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#modalAddProduct">
                    Add Product
                </button>
            </div>
            
            <!-- Table -->
            <div class="table-responsive ms-2">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Price</th>
                            <th>Stock</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="productsTableBody">
                    	<tr th:each="prod : ${products}">
                    		<td th:text="${prod.code}"></td>
                    		<td th:text="${prod.name}"></td>
                    		<td th:text="${prod.category.name}"></td>
                    		<td th:text="${prod.priceUnit}"></td>
                    		<td th:text="${prod.stockActual}"></td>
                    		<td th:text="${prod.active}"></td>
                    		<td>
					        	<button class="btn btn-sm btn-outline-dark"
					        	        data-bs-toggle="modal"
					        	        data-bs-target="#modalEditProduct"
					        	        th:attr="data-id=${prod.id},
						                         data-name=${prod.name},
						                         data-code=${prod.code},
						                         data-description=${prod.description},
						                         data-priceunit=${prod.priceUnit},
						                         data-stockactual=${prod.stockActual},
						                         data-stockminimum=${prod.stockMinimum},
						                         data-categoryid=${prod.category.id},
						                         data-active=${prod.active}">
				        	        Edit
					        	</button>
					            <form th:action="@{/products/delete/{id}(id=${prod.id})}" method="post" style="display:inline;">
								    <button class="btn btn-sm btn-outline-danger" type="submit">Delete</button>
								</form>
                    		</td>
                    	</tr>
                    </tbody>
                </table>
            </div>
			            
            <!-- Pagination -->
            <nav aria-label="Products pagination" class="mt-3">
            	<ul class="pagination justify-content-center">
            		<!-- Previous Button -->
            		<li th:classappend="${currentPage == 0} ? 'disabled'" class="page-item" >
            			<a th:href="@{/products/home(
            						page=${currentPage-1},
            						search=${param.search},
            						categories=${param.categories}
            						)}" 
            				class="page-link" 
            				tabindex="-1">Previous</a>
            		</li>
            		<!-- Number of Page -->
            		<li class="page-item"
            			th:each="i : ${#numbers.sequence(0, totalPages-1)}"
            			th:classappend="${i == currentPage} ? 'active'">
            			<a class="page-link" 
            			   th:href="@{/products/home(
            			   			page=${i},
            			   			search=${param.search},
            			   			categories=${param.categories}
            			   			)}"
            			   th:text="${i + 1}">1</a>
            		</li>
            		<!-- Next Button -->
            		<li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
            			<a class="page-link" th:href="@{/products/home(
            						page=${currentPage + 1},
            						search=${param.search},
            						categories=${param.categories}
            						)}">Next</a>
            		</li>
            	</ul>
            </nav>
        </div>
    </div>
    
	<!-- Modals -->
	<div th:replace="~{fragments/product-modals :: modal-add-product(${categories})}"></div>
	<div th:replace="~{fragments/product-modals :: modal-edit-product(${categories})}"></div>
    
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
	<script src="/js/modalEditProduct.js"></script>
</body>
</html>