<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<!-- Fragmento del navbar -->
	<nav th:fragment="navbar(activePage)" class="navbar navbar-expand-lg navbar-dark bg-dark">
	    <div class="container-fluid">
	        <a href="#" th:href="@{/home}" class="navbar-brand">
	            <strong>Inventory System</strong>
	        </a>
	        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
	            <span class="navbar-toggler-icon"></span>
	        </button>
	        <div class="collapse navbar-collapse" id="navbarNav">
	            <ul class="navbar-nav gap-3 align-items-center me-3">
	                <li class="nav-item">
	                    <a th:href="@{/home}"
	                       th:classappend="${activePage} == 'home' ? 'active' : ''"
	                       class="nav-link">Home
	                    </a>
	                </li>
	                <li class="nav-item">
	                    <a th:href="@{/products/home}" 
	                       th:classappend="${activePage} == 'products' ? 'active' : ''"
	                       class="nav-link">Products
	                    </a>
	                </li>
	                <li class="nav-item">
	                    <a th:href="@{/movements/home}" 
	                       th:classappend="${activePage} == 'movements' ? 'active' : ''"
	                       class="nav-link">Movements
	                    </a>
	                </li>
	                <li class="nav-item">
	                    <a th:href="@{/branches/home}" 
	                       th:classappend="${activePage} == 'branches' ? 'active' : ''"
	                       class="nav-link">Branches
	                    </a>
	                </li>
	            </ul>
            	<a th:href="@{/user/profile}" class="nav-link ms-auto me-2 d-flex align-items-center gap-2">
            		<span class="navbar-text text-white">Mi Perfil</span>
            		<i class="fas fa-user-circle fa-2x" style="color: white; "></i>
            	</a>
	        </div>
	    </div>
	</nav>
</body>
</html>