<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Branches - Inventory System</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<!-- Navbar -->
	<div th:replace="~{fragments/navbar :: navbar('branches')}"></div>
	
	<!-- Main Container -->
	<div class="main-container">
	
		<!-- Title -->
		<h3 class="m-3">Branches</h3>
	
		<!-- Filter Section -->
		<div class="container-fluid">
		    <h5 class="mb-3 ms-1 mt-4">List of Branches</h5>
		    <div class="d-flex align-items-center mb-4 ms-1">
		        <form class="row g-2 align-items-center" th:action="@{/branches/home}" method="get">
		            <div class="col-auto">
		                <label for="filter" class="col-form-label">Filter</label>
		            </div>
		            <div class="col-auto">
		                <input class="form-control" type="text" id="filter" name="filter" placeholder="Branch name/address" th:value="${param.filter}" autocomplete="off"/>
		            </div>
		            <div class="col-auto">
		                <button class="btn btn-light btn-outline-dark" type="submit">Search</button>
		                <a th:href="@{/branches/home}" class="btn btn-outline-secondary">Reset</a>
		            </div>
		        </form>
		        <div class="ms-auto me-3">
		            <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#modalAddBranch">
		                Register Branch
		            </button>
		        </div>
		    </div>
		</div>
		
		<!-- Branches Cards -->
		<div class="container-fluid">
	        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
			    <div class="col"
			         th:each="branch : ${branches}">
			        <a th:href="@{/branches/{id}/details(id=${branch.id})}" 
			           class="card card h-100 d-flex flex-column justify-content-center align-items-center text-decoration-none text-dark border-dark p-3 shadow bg-body-secondary">
			            <span class="fw-bold mb-2" th:text="${branch.name}">Branch Name</span>
			            <span class="small" th:text="${branch.address}">Address</span>
			        </a>
			    </div>
			</div>
		</div>
    </div>
	
	<!-- Modals -->
	<div th:replace="~{fragments/branch-modals :: modal-add-branch}"></div>
	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>