<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Home</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <!-- Navbar fragment -->
    <div th:replace="~{fragments/navbar :: navbar('home')}"></div>
	
	<!-- Principal Metrics -->
	<div class="container my-4">
	    <div class="row justify-content-center g-3">
	        <div class="col-12 col-md-6 col-lg-3">
	            <div class="card bg-primary bg-opacity-25 text-primary border-primary text-center shadow-sm">
	                <div class="card-body">
	                    <h4>Total Products</h4>
	                    <h2 class="fw-bold" th:text="${totalProducts}">1,234</h2>
	                </div>
	            </div>
	        </div>
	        <div class="col-12 col-md-6 col-lg-3">
	            <div class="card bg-success bg-opacity-25 text-success border-success text-center shadow-sm">
	                <div class="card-body">
	                    <h4>Stock Available</h4>
	                    <h2 class="fw-bold" th:text="${stockAvailable}">8,567</h2>
	                </div>
	            </div>
	        </div>
	        <div class="col-12 col-md-6 col-lg-3">
	            <div class="card bg-warning bg-opacity-25 text-warning border-warning text-center shadow-sm">
	                <div class="card-body">
	                    <h4>Low Stock</h4>
	                    <h2 class="fw-bold" th:text="${lowStock}">23</h2>
	                </div>
	            </div>
	        </div>
	        <div class="col-12 col-md-6 col-lg-3">
	            <div class="card bg-danger bg-opacity-25 text-danger border-danger text-center shadow-sm" id="cardTotalProducts">
	                <div class="card-body">
	                    <h4>Out of Stock</h4>
	                    <h2 class="fw-bold" th:text="${outOfStock}">5</h2>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	
	<!-- Alerts and notifications -->
	<div class="container-fluid">
		<div class="row mb-4">
		    <div class="col-12">
		        <div class="alert alert-warning" th:if="${productsStockLow.size() > 0}">
		            <h5 class="ms-2">Products with low stock:</h5>
		            <ul class="mb-0">
		                <li th:each="product : ${productsStockLow}" 
		                    th:text="${product.name + ' (Mín Stock: ' + product.stockMinimum + ' - Actual Stock: ' + product.stockActual + ')'}">
		                </li>
		            </ul>
		        </div>
		    </div>
		</div>
	</div>
	
	<!-- Fast Access -->
	<div class="container-fluid">
		<div class="row mb-4">
		    <div class="col-12">
		        <h4 class="mb-3">Quick Actions</h4>
		        <div class="d-flex gap-2 flex-wrap">
		            <a th:href="@{/products/new}" class="btn btn-outline-dark" >
		                Add Product
		            </a>
		            <a th:href="@{/movements/entrance}" class="btn btn-outline-dark">
		                Register Entry
		            </a>
		            <a th:href="@{/movements/exit}" class="btn btn-outline-dark">
		                Register Exit
		            </a>
		            <a th:href="@{/reports}" class="btn btn-outline-dark">
		                View Reports
		            </a>
		        </div>
		    </div>
		</div>
	</div>
	
	<!-- Recent Activity -->
	<div class="container-fluid">
		<div class="row">
		    <div class="col-md-6">
		        <div class="card">
		            <div class="card-header text-center">
		                <h5>Lastest Movements</h5>
		            </div>
		            <div class="card-body">
		                <div class="table-responsive">
		                    <table class="table table-sm text-center">
		                        <thead>
		                            <tr>
		                                <th>Date</th>
		                                <th>Product</th>
		                                <th>Type</th>
		                                <th>Amount</th>
		                            </tr>
		                        </thead>
		                        <tbody>
		                            <tr th:each="movement : ${lastMovements}">
		                                <td th:text="${#temporals.format(movement.movementDate, 'yyyy-MM-dd HH:mm')}"></td>
		                                <td th:text="${movement.product.name}"></td>
		                                <td>
		                                    <span class="badge" 
		                                          th:classappend="${movement.typeMovement.name() == 'IN' ? 'bg-success bg-opacity-75 text-dark' : 
		                                          				  (movement.typeMovement.name() == 'OUT' ? 'bg-danger bg-opacity-75 text-dark' : 
		                                          				  (movement.typeMovement.name() == 'ADJUSTMENT' ? 'bg-warning bg-opacity-75 text-dark' : 
		                                          				  'bg-secondary'))}"
		                                          th:text="${movement.typeMovement}">
		                                    </span>
		                                </td>
		                                <td th:text="${movement.amount}"></td>
		                            </tr>
		                        </tbody>
		                    </table>
		                </div>
		            </div>
		        </div>
		    </div>
		    
		    <div class="col-md-6">
		        <div class="card">
		            <div class="card-header text-center">
		                <h5>Most Popular Products</h5>
		            </div>
		            <div class="card-body">
		                <div class="table-responsive">
		                    <table class="table table-sm text-center">
		                        <thead>
		                            <tr>
		                                <th>Product</th>
		                                <th>Actual Stock</th>
		                                <th>Movements</th>
		                            </tr>
		                        </thead>
		                        <tbody>
		                            <tr th:each="movedProduct : ${mostMovedProducts}">
		                                <td th:text="${movedProduct.product.name}"></td>
		                                <td th:text="${movedProduct.product.stockActual}"></td>
		                                <td>
		                                    <span class="badge bg-info bg-opacity-75 text-dark" th:text="${movedProduct.totalMovements}"></span>
		                                </td>
		                            </tr>
		                        </tbody>
		                    </table>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>